.todoButtons {
    justify-content: flex-end;
}

p.todoTitle {
    font-weight: 600;
    margin-bottom: 20px;
}

#descriptionContainerContainer {
    margin-top: 20px;
    .sectionTitle {
        border-bottom: none;
        margin-bottom: 5px;
        padding: 0;
        font-weight: 400;
        line-height: 1.48;
        color: #3b6da9;
        @include screen-md-up {
            font-size: 15px;
        }
        @include screen-md-down {
            font-size: 14px;
        }
    }
    #descriptionContainer {
        margin-top: 0;
    }
}

.todoList .topReactionTiny > .reactionType {
    vertical-align: middle;
}

.jsMarkAsDone,
.jsMarkAsDone .icon {
    cursor: pointer !important;
}

#todoCommentList {
    margin-top: 10px;
}

.todo .containerHeadline {
    display: table;
    h3 {
        display: table-row;
        .jsMarkAsDone {
            display: table-cell;
            padding: 0 7px;
        }
        .todoContainerMetaData {
            display: table-cell;
            padding-right: 24px;
            .separatorLeft fa-icon {
                margin-left: 5px;
                margin-right: -5px;
                --font-size: 1em;
                --icon-size: 12px;
            }
        }
    }
}

.todoContainerMetaData > small > .icon {
    vertical-align: middle;
}

.todoContent .messageSectionTitle {
    margin-top: 10px;
}
